

*{
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #333;
	font-family: "Helvetica Neue","Arial","PingFang SC","Microsoft Yahei","SimSun",sans-serif;
	outline :none;
}
body{
	background: #f5f5f5;
}
li,ul{
	list-style: none;
}

.mt10{
	margin-top: 10px;
}
.ml10{
	margin-left: 10px;
}
.mb10{
	margin-bottom: 10px;
}
.mr10{
	margin-right: 10px;
}

.warp-main{
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.rel-warp{
	width: 100%;
	height: 100%;
	position: relative;
	box-sizing: border-box;
}
a:hover{
	color: #f80;text-decoration:underline;
}


.home-tab-main-warp .home-tab-main-item{
	padding: 10px;
	background: #fff;
}

.home-tab-warp{
	margin: 10px;

}
.home-tab-list-warp{
	display: flex;
	align-items: center;
	border-bottom: 2px solid #ee3388;
}
.home-tab-item{
	padding: 10px 20px;
	color: #333;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	background: #fff;
	
}
.home-tab-main-all-item{
	border-bottom: 1px solid #ccc;
}
.home-tab-item.active{
	cursor: pointer;
	background: #ee3388;
	color: #fff;
}
.home-tab-item:hover{
	cursor: pointer;
	background: #ee3388;
	color: #fff;
}
.home-tab-list-warp .home-tab-item:last-child{
	border-right: 1px solid #ccc;
} 
.home-tab-main-all{
}
.home-tab-main-all-item-t1{
	display: flex;
	align-items: center;
}
.home-tab-main-all-item-b1{
	 display: none;
}
.home-tab-main-all-item .home-tab-main-all-left{
	width: 154px;
	height: 105px;
	margin-right: 40px;
}
.home-tab-main-all-item .home-tab-main-all-left img{
	display: block;
	width: 100%;
	height: 100%;
	background: #ccc;
}
.home-tab-main-all-item .home-tab-main-all-center{
	flex: 1;
	line-height: 20px;
}
.home-tab-main-all-item .home-tab-main-all-center .productName{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
.home-tab-main-all-item .home-tab-main-all-center .attrAddress{
	margin-bottom: 10px;
}
.home-tab-main-all-item .home-tab-main-all-center .destination{
	margin-bottom: 10px;
}
.home-tab-main-all-item .home-tab-main-all-right{
	width: 200px;
	height: 135px;
	display: flex;
	align-items: center;justify-content: center;

}
.home-tab-main-all-item .home-tab-main-all-right .lookInfo{
	width: 116px;
	height: 37px;
	line-height: 37px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	background: #ff8800;
	border-radius: 8px;
	cursor: pointer;
}
.home-tab-main-all-item-b1-title{
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
.home-tab-main-all-item-b1-title , .home-tab-main-all-item-b1-cont{
	display: flex;
	align-items: center;
}
.home-tab-main-all-item-b1-cont{
	padding: 18px;
	border-bottom: 1px dashed #ccc;
}
.home-tab-main-all-item-b1 .bb1{
	flex: 1;
}
.home-tab-main-all-item-b1 .bb2{
 	width: 100px;
}
.home-tab-main-all-item-b1 .bb3{
 	flex: 1;
}
.home-tab-main-all-item-b1 .bb4{
 	width: 145px;
}
.home-tab-main-all-item-b1-cont-t4{
	display: flex;
	align-items: center;
}


.page-top.bgfafafa{
	background: #fafafa;
}
.top-user-warp{
	height: 30px;
	line-height: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.top-user-warp .top-1{
	display: flex;
	align-items: center;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}

.top-user-warp .myorder{
	display: flex;
	align-items: center;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}

.top-user-warp .top-user-name:hover{
	text-decoration: underline;
	color: #f80;
}

.top-user-warp .top-user-out:hover{
	text-decoration: underline;
	color: #f80;
}

.top-user-warp #top1{
	display: none;
}
.top-user-name{
	margin-right: 5px;
}
.home-bot{
	text-align: center;
	margin-top: 40px;
}
.yd{
	background: rgb(255, 99 , 2);
	padding: 5px 10px;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}