

<div class="warp-main">
	<div class="page-nav">
		<div class="logo">
			这是logo
		</div>

		<!--搜索-->
		<div class="search-warp">
			<div class="search-left">
				<div id="searchType" class="search-type">全部旅游</div> 
				<span></span>
				<!--展开下拉-->
				<ul id="searchDown" class="searchDown">
					<li>跟团游</li>
					<li>酒店+门票</li>
					<li>景点门票</li>
				</ul>
				<!--展开下拉-->
			</div>
			<div class="search-right">
				<input id="searchInput" type="text" placeholder="请输入目的地">
			</div>
			<div id="searchBut" class="search-but">
				搜索
			</div>
		</div>
		<!--搜索-->

	</div>
</div>

