<!DOCTYPE html>
<html lang="en">
<head>
	<%= require('html-loader!./layout/head-comm.html') %>
	<title>详情</title>
</head>
<body>
	<%= require('html-loader!./layout/top-comm.html') %>
	<%= require('html-loader!./layout/nav-comm.html') %>
	<div class="warp-main">
	<div class="details-warp">
		<div class="details-cont1">
			<div class="details-title">产品名称</div>
			<div class="details-cont1-bot">
				<div id="imgs" class="details-cont1-bot-left">
					

					<div class="details-cont1-bot-left-piciocn">
						<div id="shang" class="details-cont1-bot-left-s">上</div>
						<div id="xia" class="details-cont1-bot-left-x">下</div>
					</div>
				</div>
				<div class="details-cont1-bot-right">
					<div class="details-cont1-bot-item">产品编号：xxxxxxx</div>
					<div class="details-cont1-bot-item">景点地址：xxxxxxx</div>
					<div class="details-cont1-bot-item">目的地：xxxxxxx</div>
					<div class="details-cont1-bot-item">入园时间：xxxxxxx</div>
					<div class="details-cont1-bot-item">入园地点：xxxxxxx</div>
					<div class="details-cont1-bot-item">取票时间：xxxxxxx</div>
					<div class="details-cont1-bot-item">取票地点：xxxxxxx</div>
					<div class="details-cont1-bot-item">简介描述：xxxxxxx</div>

				</div>
			</div>
		</div>


		<!--2-->
		<div class="details-cont2">
			<div id="f1" class="home-tab-warp">
			<div class="home-tab-list-warp">
				<div class="home-tab-item active">景点门票</div>
			</div>
			<div class="home-tab-main-warp">
				<div class="home-tab-main-item">
					<div class="details-cont2-title">
						<div class="details-cont2-t1">产品名称</div>
						<div class="details-cont2-t2">市场价</div>
						<div class="details-cont2-t3">我们的价</div>
						<div class="details-cont2-t4">支付方式</div>
					</div>

					<div class="details-cont2-bot">
						<!--for-->
						<div class="details-cont2-items">
							<div class="details-cont2-items-left">成人票</div>
							<div class="details-cont2-items-right">
								
								<!--list-->
								<div class="details-cont2-items-right-list">
									<div class="details-cont2-items-right-list-warp">
										<div class="details-cont2-items-right-list1">商品名称 <span></span> </div>
										<div class="details-cont2-items-right-list2">$499</div>
										<div class="details-cont2-items-right-list3">$499</div>
										<div class="details-cont2-items-right-list4">在线支付 <a href="/porder.html"><span class="yd">	预订 </span></a> </div>
									</div>
									<div class="details-cont2-items-right-list-hide">
										<div class="details-cont2-items-right-list-hide-item">
											<div class="details-cont2-items-right-list-hide-left">费用包括</div>
											<div class="details-cont2-items-right-list-hide-right">上海xxxxxxxxxx</div>
										</div>
										<div class="details-cont2-items-right-list-hide-item">
											<div class="details-cont2-items-right-list-hide-left">费用不包括</div>
											<div class="details-cont2-items-right-list-hide-right">1.上海xxxxxxxxxx<br/>2.上海xxxxxxxxxx</div>
										</div>
										<div class="details-cont2-items-right-list-hide-item">
											<div class="details-cont2-items-right-list-hide-left">入园方式</div>
											<div class="details-cont2-items-right-list-hide-right">xxxxxxxxxx</div>
										</div>
										<div class="details-cont2-items-right-list-shou">
											收起
										</div>
									</div>
									
								</div>
								<!--list-->

								<!--list-->
								<div class="details-cont2-items-right-list">
									<div class="details-cont2-items-right-list-warp">
										<div class="details-cont2-items-right-list1">商品名称 <span></span> </div>
										<div class="details-cont2-items-right-list2">$499</div>
										<div class="details-cont2-items-right-list3">$499</div>
										<div class="details-cont2-items-right-list4">在线支付 <span class="yd">预订</span> </div>
									</div>
									<div class="details-cont2-items-right-list-hide">
										<div class="details-cont2-items-right-list-hide-item">
											<div class="details-cont2-items-right-list-hide-left">费用包括</div>
											<div class="details-cont2-items-right-list-hide-right">上海xxxxxxxxxx</div>
										</div>
										<div class="details-cont2-items-right-list-hide-item">
											<div class="details-cont2-items-right-list-hide-left">费用不包括</div>
											<div class="details-cont2-items-right-list-hide-right">1.上海xxxxxxxxxx<br/>2.上海xxxxxxxxxx</div>
										</div>
										<div class="details-cont2-items-right-list-hide-item">
											<div class="details-cont2-items-right-list-hide-left">入园方式</div>
											<div class="details-cont2-items-right-list-hide-right">xxxxxxxxxx</div>
										</div>
										<div class="details-cont2-items-right-list-shou">
											收起
										</div>
									</div>
									
								</div>
								<!--list-->

								<!--list-->
								<div class="details-cont2-items-right-list">
									<div class="details-cont2-items-right-list-warp">
										<div class="details-cont2-items-right-list1">商品名称 <span></span> </div>
										<div class="details-cont2-items-right-list2">$499</div>
										<div class="details-cont2-items-right-list3">$499</div>
										<div class="details-cont2-items-right-list4">在线支付 <span class="yd">预订</span> </div>
									</div>
									<div class="details-cont2-items-right-list-hide">
										<div class="details-cont2-items-right-list-hide-item">
											<div class="details-cont2-items-right-list-hide-left">费用包括</div>
											<div class="details-cont2-items-right-list-hide-right">上海xxxxxxxxxx</div>
										</div>
										<div class="details-cont2-items-right-list-hide-item">
											<div class="details-cont2-items-right-list-hide-left">费用不包括</div>
											<div class="details-cont2-items-right-list-hide-right">1.上海xxxxxxxxxx<br/>2.上海xxxxxxxxxx</div>
										</div>
										<div class="details-cont2-items-right-list-hide-item">
											<div class="details-cont2-items-right-list-hide-left">入园方式</div>
											<div class="details-cont2-items-right-list-hide-right">xxxxxxxxxx</div>
										</div>
										<div class="details-cont2-items-right-list-shou">
											收起
										</div>
									</div>
									
								</div>
								<!--list-->

							</div>
						</div>
						<!--for-->

						<!--for-->
						<div class="details-cont2-items">
							<div class="details-cont2-items-left">成人票</div>
							<div class="details-cont2-items-right">
								
								<!--list-->
								<div class="details-cont2-items-right-list">
									<div class="details-cont2-items-right-list-warp">
										<div class="details-cont2-items-right-list1">商品名称 <span></span> </div>
										<div class="details-cont2-items-right-list2">$499</div>
										<div class="details-cont2-items-right-list3">$499</div>
										<div class="details-cont2-items-right-list4">在线支付 <span class="yd">预订</span> </div>
									</div>
									<div class="details-cont2-items-right-list-hide">
										<div class="details-cont2-items-right-list-hide-item">
											<div class="details-cont2-items-right-list-hide-left">费用包括</div>
											<div class="details-cont2-items-right-list-hide-right">上海xxxxxxxxxx</div>
										</div>
										<div class="details-cont2-items-right-list-hide-item">
											<div class="details-cont2-items-right-list-hide-left">费用不包括</div>
											<div class="details-cont2-items-right-list-hide-right">1.上海xxxxxxxxxx<br/>2.上海xxxxxxxxxx</div>
										</div>
										<div class="details-cont2-items-right-list-hide-item">
											<div class="details-cont2-items-right-list-hide-left">入园方式</div>
											<div class="details-cont2-items-right-list-hide-right">xxxxxxxxxx</div>
										</div>
										<div class="details-cont2-items-right-list-shou">
											收起
										</div>
									</div>
									
								</div>
								<!--list-->

								<!--list-->
								<div class="details-cont2-items-right-list">
									<div class="details-cont2-items-right-list-warp">
										<div class="details-cont2-items-right-list1">商品名称 <span></span> </div>
										<div class="details-cont2-items-right-list2">$499</div>
										<div class="details-cont2-items-right-list3">$499</div>
										<div class="details-cont2-items-right-list4">在线支付 <span class="yd">预订</span> </div>
									</div>
									<div class="details-cont2-items-right-list-hide">
										<div class="details-cont2-items-right-list-hide-item">
											<div class="details-cont2-items-right-list-hide-left">费用包括</div>
											<div class="details-cont2-items-right-list-hide-right">上海xxxxxxxxxx</div>
										</div>
										<div class="details-cont2-items-right-list-hide-item">
											<div class="details-cont2-items-right-list-hide-left">费用不包括</div>
											<div class="details-cont2-items-right-list-hide-right">1.上海xxxxxxxxxx<br/>2.上海xxxxxxxxxx</div>
										</div>
										<div class="details-cont2-items-right-list-hide-item">
											<div class="details-cont2-items-right-list-hide-left">入园方式</div>
											<div class="details-cont2-items-right-list-hide-right">xxxxxxxxxx</div>
										</div>
										<div class="details-cont2-items-right-list-shou">
											收起
										</div>
									</div>
									
								</div>
								<!--list-->

								<!--list-->
								<div class="details-cont2-items-right-list">
									<div class="details-cont2-items-right-list-warp">
										<div class="details-cont2-items-right-list1">商品名称 <span></span> </div>
										<div class="details-cont2-items-right-list2">$499</div>
										<div class="details-cont2-items-right-list3">$499</div>
										<div class="details-cont2-items-right-list4">在线支付 <span class="yd">预订</span> </div>
									</div>
									<div class="details-cont2-items-right-list-hide">
										<div class="details-cont2-items-right-list-hide-item">
											<div class="details-cont2-items-right-list-hide-left">费用包括</div>
											<div class="details-cont2-items-right-list-hide-right">上海xxxxxxxxxx</div>
										</div>
										<div class="details-cont2-items-right-list-hide-item">
											<div class="details-cont2-items-right-list-hide-left">费用不包括</div>
											<div class="details-cont2-items-right-list-hide-right">1.上海xxxxxxxxxx<br/>2.上海xxxxxxxxxx</div>
										</div>
										<div class="details-cont2-items-right-list-hide-item">
											<div class="details-cont2-items-right-list-hide-left">入园方式</div>
											<div class="details-cont2-items-right-list-hide-right">xxxxxxxxxx</div>
										</div>
										<div class="details-cont2-items-right-list-shou">
											收起
										</div>
									</div>
									
								</div>
								<!--list-->

							</div>
						</div>
						<!--for-->

					</div>
				</div>
			</div>
		</div>


		</div>
		<!--2-->


		<!--3-->
		<div class="details-cont3">
			<div id="f2" class="home-tab-warp">
			<div class="home-tab-list-warp">
				<div class="home-tab-item">预订须知</div>
				<div class="home-tab-item">景点介绍</div>
				<div class="home-tab-item">交通指南</div>
			</div>
			<div class="home-tab-main-warp">
				<div class="home-tab-main-item">
					<div id="f1cont1" class="home-tab-main-all">
1
						
					</div>
				</div>

				<div class="home-tab-main-item">
					<div id="f1cont2" class="home-tab-main-all">

					2	
					</div>
				</div>

				<div class="home-tab-main-item">
					<div id="f1cont3" class="home-tab-main-all">
3
						
					</div>
				</div>
			</div>

		</div>
		</div>
		<!--3-->
 
	</div>
	</div>

	<%= require('html-loader!./layout/fot-comm.html') %>
</body>
</html>