<!DOCTYPE html>
<html lang="en">
<head>
	<%= require('html-loader!./layout/head-comm.html') %>
	<title></title>
</head>
<body>
	<%= require('html-loader!./layout/top-comm.html') %>
	<div class="warp-main">
		<div class="order-warp">
			<div class="order-title">应付金额 <span>￥200</span></div>
			<div class="order-cont">
				<div id="order1" class="order-cont-item">订单号:2312313213</div>
				<div id="order2" class="order-cont-item">产品名称:2312313213</div>
				<div id="order3" class="order-cont-item">游玩时间:2018-06-19</div>
				<div id="order4" class="order-cont-item">购买数量:2</div>
			</div>
			<div class="order-bot">
				订单金额：￥200
			</div>
		</div>


		<div class="order-warp">
			<div class="order-title">应付金额 <span>￥200</span></div>
			<div class="order-cont">
				<div id="order5" class="order-cont-item">姓名:xxxx</div>
				<div id="order6" class="order-cont-item">手机号码:2312313213</div>
				<div id="order7" class="order-cont-item">邮箱:xxxxxxxxx</div>
				<div id="order8" class="order-cont-item">身份证:xxxxxxxxxxxx</div>
			</div>
		</div>


		<div id="zf1" class="order-zf-warp">
			<div class="home-tab-list-warp">
				<div class="home-tab-item">网银支付</div>
				<div class="home-tab-item">微信支付</div>
				<div class="home-tab-item">支付平台</div>
			</div>
			<div class="home-tab-main-warp">
				<div class="home-tab-main-item">
					<div class="order-zf1-warp">
						<div class="order-zf1-item">中国工商银行</div>
						<div class="order-zf1-item">招商银行</div>
						<div class="order-zf1-item">中国银行</div>
						<div class="order-zf1-item">建设银行</div>
					</div>
					<div class="order-liji-zf">
						立即支付
					</div>
				</div>
				<div class="home-tab-main-item">
					<div class="order-zf2">
						微信支付
					</div>

					<div class="order-liji-zf">
						立即支付
					</div>

				</div>
				<div class="home-tab-main-item">
					<div class="order-zf2">
						支付宝支付
					</div>

					<div class="order-liji-zf">
						立即支付
					</div>
				</div>
			</div>
		</div>


	</div>


	<%= require('html-loader!./layout/fot-comm.html') %>
</body>
</html>