<!DOCTYPE html>
<html lang="en">
<head>
	<%= require('html-loader!./layout/head-comm.html') %>
	<title></title>
</head>
<body>
	<%= require('html-loader!./layout/top-comm.html') %>
	<div class="warp-main">
		
		<div id="show1" style="display: none;">
			<div class="order-cg">下单成功!</div>
			<div class="back-home"><a href="/">返回首页</a></div>
		</div>
		<div id="show2">

		<div id="main">
		
		</div>


		<div id="zf1" class="order-zf-warp">
			<div class="home-tab-list-warp">
				<div class="home-tab-item">网银支付</div>
				<div class="home-tab-item">微信支付</div>
				<div class="home-tab-item">支付平台</div>
			</div>
			<div class="home-tab-main-warp">
				<div class="home-tab-main-item">
					<div class="order-zf1-warp">
						<div class="order-zf1-item">中国工商银行</div>
						<div class="order-zf1-item">招商银行</div>
						<div class="order-zf1-item">中国银行</div>
						<div class="order-zf1-item">建设银行</div>
					</div>
					<div class="order-liji-zf">
						立即支付
					</div>
				</div>
				<div class="home-tab-main-item">
					<div class="order-zf2">
						微信支付
					</div>

					<div class="order-liji-zf">
						立即支付
					</div>

				</div>
				<div class="home-tab-main-item">
					<div class="order-zf2">
						支付宝支付
					</div>

					<div class="order-liji-zf">
						立即支付
					</div>
				</div>
			</div>
		</div>


	</div>
</div>

	<%= require('html-loader!./layout/fot-comm.html') %>
</body>
</html>